body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace
}
canvas {
    position:absolute;
}

button.menubutton{

    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 0.5;

}

button.X{

    position: absolute;
    top: 1rem;
    right: 1rem;
}

button.menubtn{
    margin-top: 1rem;
    margin-left: 2rem;
    width: 33%;
    min-width: fit-content;
}

button.keybindbtn{
    width: fit-content;
    height: min-content;
}

button{
    border: 0.25rem ridge black;
    
}
button:hover{

    background-color: gray;
}


div.menu{

    display: none;
    position: absolute;
    flex-direction: column;
    width: 50%;
    height: 50%;
    border: 1rem ridge black;
    padding: 1rem;
    background-color: white;

}

div h1{
    display: block;
    margin-top: 1rem;
    align-self: center;

}

div.Keybinddiv{
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: min-content ;
    grid-column-gap: 1.5rem;

    margin-left: 2rem;
    width: 80%;
    min-width: fit-content;
    align-items: center;
    justify-content: center;
    outline : 0.25rem solid grey;
    outline-offset: 0.5rem
}

#color{
    color: rgb(144,238,144);
}